* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: url("_28x_csajmzbj0_627228043.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calculator {
  background: transparent;
  padding: 20px;
  border-radius: 10px rgb(4, 198, 220);
  border-radius: 25px;
  box-shadow: 0 6px 20px 1px rgba(12, 192, 247, 0.19),
    0 6px 20px 0 rgba(12, 192, 247, 0.19);
}
.Calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 20px rgba(31, 249, 217, 0.1),
    5px 5px 7px rgba(31, 249, 217, 0.1);
  background: transparent;
  font-size: 20px;
  color: #79cbf7;
  cursor: pointer;
  margin: 10px;
}
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
form input.Operator {
  color: rgb(247, 208, 136);
}
